body {
  direction: rtl;
  text-align: right;
  font-family: Vazirmatn, sans-serif;
}

.left {
  float: right !important;
}

.right {
  float: left !important;
}

.mr10 {
  margin-right: 0 !important;
  margin-left: 10px !important;
}

ul.l li {
  padding: 0 20px 4px 0;
}

ul.l li:before {
  right: 0;
  left: auto;
}

div.header .menu ul {
  float: left;
}

div.header div.search-form {
  float: left;
}

div.header .more {
  float: left;
}

div.header .menu .logo {
  float: right;
}

div.toolbar div.script-lang {
  float: left;
}

div.lang-switcher {
  float: left;
}

div.footer div.copy {
  float: right;
}

div.footer div.menu {
  float: left;
}

div.sidebar {
  float: right;
  margin: 0 0 0 40px;
}

div.sidebar-wrap {
    border-right: 0;
    border-left: #e6e6e6 1px solid;
}

div.content-wrap {
    float: left;
    margin: 0 -380px 0 0;
}

div.content-block {
    margin: 0 380px 0 0;
}

.breadcrumbs ul li {
  float: right;
  margin: 0 0 0 25px;
}

.breadcrumbs ul li:after {
    right: auto;
    left: -15px;
}
